<?xml version="1.0" encoding="UTF-8"?>
<configuration  debug="false" >
    <appender  name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg %n-->
            <!--<pattern>%highlight(%-5level) %d{HH:mm:ss.SSS} %logger{36}\(%class{0}.java:%line\) %msg %n</pattern>-->
            <pattern>%highlight(%-5level) %d{HH:mm:ss.SSS} %logger{36}\(%class{0}.java:%line\) %msg %n</pattern>

        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<File>C:/TEMP/logger/tracecg.log</File>-->
        <File>./log/log.txt</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>./log/log.%d{yyyy-MM-dd}.txt</FileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>360</maxHistory>
        </rollingPolicy>

        <encoder>
            <!--<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>-->
            <pattern>%-5level %d{HH:mm:ss.SSS} (%class{0}.java:%line\) %msg %n</pattern>
        </encoder>
    </appender>



    <root>
        <level value="INFO"/>
        <appender-ref ref="dailyRollingFileAppender"/>
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>